# This is Git's per-user configuration file.
[includeIf "gitdir:Fleetboard/**"] 
  path = ~/.config/git/gitconfig-fb
[includeIf "gitdir:Own/**"] 
  path = ~/.config/git/gitconfig-own
[core]
	longpaths = true
  sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = false
[gui]
	recentrepo = C:/Users/rpolley/Documents/Projekte/Fleetboard/Entwicklung/rcp
[remote "origin"]
	prune = true
[fetch]
	prune = true
[credential "https://bitbucket.itsonix.eu"]
	provider = bitbucket
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/.git_allowed_signers
[gpg]
	program = C:\\Program Files\\GnuPG\\bin\\gpg.exe
[rerere]
	enabled = true
